$face: #727272;
$off: #000;


.cardface {
  color: $primary;
  padding: 1rem;
  max-width: 13rem;
  height: 20rem;
  display: flex;
  align-content: center;
  flex-direction: column;
  
}.cardoff {
  background: $primary;
  color: $white;
  padding: 1rem;
  max-width: 13rem;
  height: 20rem;
  border-radius: 0.5rem;
  display: flex;
  align-content: center;
  flex-direction: column;
  display: none;
  
 
    &__infos {
      display: flex;
      justify-content: space-between;
      align-items: end;
      gap: .2rem;
    }
  
    &__link {
      text-decoration: none;
      color: $white;
      border: 1px solid; 
      padding: 0.2rem;
      margin-left: auto;
    }
}


.cardface:active {
  display: none;
}

.cardface:active ~ .cardoff {
  display: block;
}


.all-speaker {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-template-rows: repeat(4, 1fr);
  gap: 20px;
  max-width: 60rem;

}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}



@media (max-width: 1200px) {
  .all-speaker {
    gap: 10px;
  }
}

@media (max-width: 768px) {
  .all-speaker {
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
  }
}

@media (max-width: 480px) {
  .all-speaker {
    grid-template-columns: 1fr;
    gap: 10px;
  }
}
