$primary: #784CF1;
$white: #F8F8F8;
$black: #343237;

body {
  font-family: LeagueSpartan;
  background: $white;
}



.teaser_speaker {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  background: $primary;

  img {
    position: relative;
    z-index: 2;
    margin-block-start: -10;
    border: 1px solid red;
  }

  &:__text {
    display: flex;
  }
}




.form_speaker_presentation {
  border: 1px solid #272727;
  
}