$primary: #784CF1;
$white: #F8F8F8;
$black: #343237;

body {
  font-family: LeagueSpartan;
  background: $white;
}



.teaser_speaker {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  background: $primary;
  color: $white;

  img {
    position: relative;
    z-index: 2;
    margin-top: -40;
  }

  &:__text {
    display: flex;
  }
}


.form_speaker {
  display: flex;
  flex-direction: column;
  align-items: center;
}