body {
  font-family: LeagueSpartan;
}

main {
  background: #cfcfcf;
}

.teaser_speaker {
  max-width: 50rem;
  display: flex;
  align-items: center;
  margin: 0 auto;

  img {
    position: relative;
    z-index: 2;
    margin-block-start: -10;
    border: 1px solid red;
  }

  &:__text {
    display: flex;
  }
}

.cardface {
  border: 1px solid #727272;
  max-width: 15rem;
  padding: 1rem;
  margin: 1rem;

  img {
    max-width: 15rem;
  }

  &:active {
    display: none;

    .cardoff {
      display: contents;
    }
  }
}

.cardoff {
  max-width: 15rem;
  background: #272727;
  color: #fff;
  padding: 1rem;
  margin: 1rem;
  display: none;

  a {
    border: 1px solid #fff;
    padding: 0.5rem;
  }
}


.form_speaker_presentation {
  border: 1px solid #272727;
  
}