nav {
  background: purple;

  img {
    width: 100%;
    margine-inline-end: auto;

  }
  ul {
    list-style: none;
    display: flex;
    gap: 2rem;


    a,li {
      text-decoration: none;
      font-family: LeagueSpartan;
      color: #fff;
    }
  }
}
