nav {
  background: #727272;

  img {
    width: 10%;
    height: 10%;
  }
  ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    a {
      text-decoration: none;
      font-family: LeagueSpartan;
      color: #fff;
    }
  }
}
